# =========================================
# PULSE ENVIRONMENT CONFIGURATION
# =========================================

# Server Config
ENV=development
PORT=8080
API_SECRET_KEY=pulse_super_secret_jwt_key_2026

# Database Settings (MongoDB)
MONGO_URI=mongodb://pulse:pulsepassword@localhost:27017/pulse_db?authSource=admin
MONGO_DB_NAME=pulse_db

# Cache & Messaging (Redis)
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# Temporal Workflow Engine
TEMPORAL_HOST_PORT=localhost:7233
TEMPORAL_TASK_QUEUE=pulse-monitoring-queue

# AI / LLM Engine (Ollama Local)
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3:8b

# Mailer (Mailpit Local)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=alerts@pulse.internal

# Web Frontend URL
NEXT_PUBLIC_API_URL=http://localhost:8080
